@charset "UTF-8";
#search-wrapper {
    padding: 10px;
    z-index: 1;
}

#search-field{
    min-width: 100px;
    padding: 5px;
    z-index: 2147483647;
}

#ui-id-1 {z-index: 2000;}

ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background: white;
    border-radius: 5px;
    width:30px;
    border:1px solid rgba(102, 153, 102,0.6);
    
    
}
.ui-menu-item .ui-menu-item-wrapper:hover{
    background-color:rgba(102, 153, 102,0.7);
   	cursor:pointer;
	
}

.fa-placeholder{
	font-family:"FontAwesome";
}
